<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>{{ tituloModal }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item [formGroup]="categoriaForm">
    <ion-input labelPlacement="stacked" label="Nombre" placeholder="Nombre de la categoria"
    formControlName="nombre"></ion-input>
  </ion-item>
</ion-content>