
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
      <ion-nav-link router-direction="forward" [component]="tareaPage">
        <ion-button expand="block" (click)="irTarea()">Tarea</ion-button>
      </ion-nav-link>
      <ion-nav-link router-direction="forward" [component]="categoriaPage">
        <ion-button expand="block" (click)="irCategoria()">Categoria</ion-button>
      </ion-nav-link>
  </ion-content>
</ion-menu>
